# Порт, на котором будет доступно приложение внутри контейнера
PORT=8000

# JWT / секреты приложения
SECRET_KEY=replace_with_your_secret_key
ACCESS_TOKEN_EXPIRE_MINUTES=60

# PostgreSQL
POSTGRES_DB=myshop_db
POSTGRES_USER=myshop_user
POSTGRES_PASSWORD=myshop_pass
POSTGRES_HOST=postgres_db
POSTGRES_PORT=5432